<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>


<table>
    <thead>
    <tr>
        <th>Model</th>
        <th>Color</th>
        <th>Year</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="car : ${cars_list}">
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getColor()}"></td>
        <td th:text="${car.getYear()}"></td>
    </tr>

    </tbody>
</table>
</body>
</html>